@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: "Itim", cursive;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.chevron-down {
  color: var(--primary-color-1);
  transition: all 0.1s ease-in-out;
}

.chevron-down:hover {
  color: var(--primary-color);
  transition: all 0.1s ease-in-out;
}

.dropdown:hover {
  background-color: var(--background-color-hover);
}
.dropdown:active {
  background-color: var(--background-color-active);
}

.radial-gradient {
  width: 100%;
  height: 100%;
  z-index: 10;
  background-image: radial-gradient(transparent 50%, rgba(0, 0, 0, 0.8));
}

.home-button {
  color: var(--primary-color-1);
  border-color: var(--surface-color);
  background-color: var(--surface-color-1);
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}
.home-button:hover {
  color: var(--primary-color);
  border-color: var(--surface-color);
  background-color: var(--background-color);
  scale: 1.1;
}
.home-button:active {
  color: var(--primary-color);
  border-color: var(--primary-color);
  background-color: var(--background-color-active);
  scale: 1;
}

.home-vignette {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: radial-gradient(transparent 60%, var(--background-color));
  transition: all 0.1s ease-in-out;
}

.toggle-theme:hover {
  transition: all 0.1s ease-in-out;
}

label {
  color: #0f1116;
  text-transform: capitalize;
  font-size: 1.2em;
  font-weight: 500;
}

input {
  padding: 4px 8px;
  border-radius: 4px;
  color: #ffffff;
  border: 1px solid #bcbcbd4f;
  background-color: #333336a6;
  transition: all 0.1s ease-in-out;
  outline: none;
}

input::placeholder {
  color: #ffffff77;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  appearance: none;
  background-color: #333336a6;
  border: 1px solid #bcbcbd4f;
  color: #ffffff;
  padding: 4px 8px;
}
select::-ms-expand {
  width: none; /* Hide the default arrow in Internet Explorer 10 and Internet Explorer 11 */
}
div::-webkit-scrollbar,
select::-webkit-scrollbar {
  width: 2px; /* Hide the default scrollbar in WebKit browsers */
}
div::-webkit-scrollbar-track,
select::-webkit-scrollbar-track {
  background-color: #333336a6;
}
div::-webkit-scrollbar-thumb,
select::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 9999px;
}

.select-month {
  border-radius: 5px 0px 0px 5px;
  width: 195px;
}
.select-day {
  border-radius: 0px 5px 5px 0px;
  width: 50px;
}
