@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: "Itim", cursive;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.dropdown:hover {
  background-color: rgba(40, 40, 40, 0.5);
}
